<ngx-alerts></ngx-alerts>


<nav  class="navbar navbar-expand-lg navbar-light bg-info  shadow bg-white" color="primary" >
  <a class="navbar-brand text-white font-weight-bolder" routerLink="/" matTooltip="Yex">Yex</a>
  <button class="navbar-toggler" style="background-color: white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div  class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="loggedIn==true"  class="navbar-nav mr-auto text-white">
      <li class="nav-item active">
        <button mat-button class="mt-btn"> <a class="nav-link text-white" routerLink="/dashboard">Dashboard</a></button>
      </li>
      <li class="nav-item active">
        <button  mat-button class="mt-btn"><a class="nav-link text-white" routerLink="/upload">Upload</a></button>
      </li>

      <li class="nav-item active">
        <button mat-button class="mt-btn"><a class="nav-link text-white" routerLink="/papers">My Papers</a></button>
      </li>
      <li class="nav-item active">
        <button mat-button class="mt-btn"><a class="nav-link text-white" routerLink="/account">Account</a></button>
      </li>
    </ul>
    <!--<button mat-button class="mt-btn"><a class="nav-link text-white" (click)="check()">check</a></button>-->


    <div>
      <button mat-button class="text-white" *ngIf="!loggedIn" (click)="openLogin()">Login</button>
      <img *ngIf="loggedIn" [src]="path" alt="Avatar" class="avatar">

      <button mat-button class="text-white" color="warn" *ngIf="loggedIn" (click)="logOut()">LogOut</button>
    </div>

  </div>
</nav>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#78e557" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Getting data ready! </p></ngx-spinner>
