/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/



html, body {
  font-family: 'Roboto', sans-serif;
  color: #0e153a;
}
body { margin: 0; }

.bg-info{
  background-color: #0e153a!important;
}
