

<section class="col-12" id="main-area">

  <section id="content" class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
    <div *ngIf="out" class="alert alert-success alert-dismissible fade show w-100" role="alert">
      <strong>Hey!</strong> {{msg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h1 class=" text-center" id="class-h1">What ever paper you search,<br>you can
      search it on Yex</h1>

    <app-search class="w-100"></app-search>



  </section>

</section>
