<section class="container align-content-center d-flex flex-column align-items-center justify-content-center min-vh-100" >

  <section id="dash" class="mx-auto col-12 col-lg-8 col-md-6 mb-5 p-5 text-center d-flex align-items-center justify-content-center  mt-5">
    <h1 class="">Hello <br>Welcome {{name}}</h1>
  </section>

  <section class="justify-content-center align-items-center d-flex flex-column mb-5">
    <mat-button-toggle-group class="mx-auto">
      <button mat-stroked-button color="primary" class="mr-3" routerLink="/upload" >Upload</button>
      <button mat-stroked-button color="primary" class="mr-3" routerLink="/papers">My papers</button>
      <button mat-stroked-button color="primary" routerLink="/account">My account</button>
    </mat-button-toggle-group>
  </section>
</section>


